.App {
  text-align: center;
  /*Practica6*/
  font-family: "Prompt", sans-serif;
  color: white;
  /*https://www.html6.es/t18_colores.html*/
  background: linear-gradient(
    30deg,
    rgb(39, 37, 38),
    rgb(111, 108, 107),
    rgb(74, 77, 86),
    rgb(87, 78, 78),
    rgb(13, 13, 13)
  );
}
.App-css {
  height: 30vmin;
  width: 150px;
}
.App-clima {
  height: 70vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-clima {
    animation: App-clima-spin infinite 20s linear;
  }
}
@keyframes App-clima-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.botonInc {
  background-color: #0b0300;
  border: none;
  color: white;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  font-size: 16px;
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}
.botonInc:hover {
  opacity: 1;
}
.formulario {
  width: 400px;
  height: 45px;
  background: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.res {
  background-color: #1b13f0;
  font-family: Verdana;
  border-radius: 20px;
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  opacity: 0.3;
  border: none;
  color: white;
}
.contenedor {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #24282b;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #1293d4 5px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #marca {
  float: left;
}
header #marca h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
  opacity: 1;
}
header .resaltado:hover {
  opacity: 1;
}
header .resaltado,
header .actual a {
  color: #ff0000;
  font-weight: bold;
  width: 30px;
  height: 20px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: 0.4s;
}
/*Practica6*/
/*Section1*/
/* Cajas */
#cajas {
  margin-top: 20px;
  }
  #cajas .caja {
  float: left;
  font-size: 15px;
  text-align: justify;
  width: 30%;
  padding: 10px;
  font-family: Verdana;
  }
  /*Footer*/
  footer {
  background: #24282b;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #1293d4 5px solid;
  text-align: center;
  }
  /*Practica6*/
  @media(max-width: 768px){
  header #marca,
  header nav,
  header nav li,
  #boletin h1,
  #boletin form,
  #cajas .caja,
  article#main-col,
  aside#lateral{ /*<aside id="lateral">*/
  float:none;
  text-align:center;
  width:100%;
  }
}